<!DOCTYPE html>
<html lang="en">

<head>
    <title>My notes</title>
    <link rel="stylesheet" type="text/css" href="/css/noteStyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
</head>

<body>
    <table class="bodyTable">
        <tr>
            <td>
                <h1>Update note</h1>
            </td>
        </tr>
        <tr>
            <td>
                <form th:action="@{/note/update}" method="POST">
                    <input type="hidden" name="id" th:value="${note.id}">
                    <div>
                        <label for="title" class="forLable">Title</label>
                    </div>
                    <div class="center">
                       <textarea th:text="${note.title}" id="title" name="title" cols="100" rows="1" size="85"
                            class="newNoteTitle"></textarea>
                    </div>
                    <div>
                        <label for="content" class="forLable">Content</label>
                    </div>
                    <div class="center">
                        <textarea th:text="${note.content}" id="content" name="content" cols="100" rows="5" size="1000"
                            class="newNoteContent"></textarea>
                    </div>
                    <div class="center">
                        <button type="submit" class="buttonAdd">Update</button>
                    </div>
                </form>
                <div class="center">
                    <form th:action="@{/note/list}" method="GET" >
                        <button class="buttonAdd" type="submit">To list of Notes</button>
                    </form>
                </div>
            </td>
        </tr>

        <tfoot>
            <td>
                <div class="signature">Nadiia Fedorovska</div>
            </td>
        </tfoot>

    </table>

</body>

</html>